
.description-container {
 
    margin: auto;

    overflow: hidden;
    max-width: 1300px;
    padding: 30px;
   
    /* background: #e8e8e8; */
    background: #ffffff;
  }
  .title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #000000;
  }