.eventCard {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 24px;
    width: 100%;
    transition: transform 0.2s;
  }
  
  .eventCard:hover {
    transform: translateY(-2px);
  }
  
  .eventImageContainer {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 12px;
  }
  
  .eventImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  .eventInfo {
    padding: 12px 0;
  }

  
  .eventName h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #222222;
  }
  
  .location {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
  }
  
  .star {
    font-size: 12px;
  }
  
  .distance,
  .dates {
    margin: 4px 0;
    color: #717171;
    font-size: 14px;
  }
  

  