.eventCard { 
    cursor: pointer;
    /* Equivalent to Tailwind's red-500 */
    border-radius: 0.5rem; /* Large rounded corners */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    aspect-ratio: 4 / 5;
    transition: box-shadow 0.3s ease;
}
.eventDescription{
    padding: 5px;
    position: relative;
    height: 30%;    
    width: 100%;
}

.eventImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.eventImage {
    position: relative;
    border-radius: 10px 10px 0px 0px;
    width: 100%; /* w-full equivalent */
    height: 70%; /* h-[70%] equivalent */
}
